/* body基础设置 */

body {
    max-width: 540px;
    /*经过测量*/
    min-width: 320px;
    /*移动端一般最小宽度都是320*/
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    /* 防止出现横向滚动条 */
    overflow-x: hidden;
    /* 禁止出现点击高亮 */
    -webkit-tap-highlight-color: transparent;
    height: 3000px;
}

a {
    text-decoration: none;
    color: #666;
}

div {
    box-sizing: border-box;
}

li {
    list-style: none;
}


/* 搜索模块开始 */

.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    /* background-color: pink; */
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    position: relative;
    flex: 1;
    height: 26px;
    /* css3的行高要减去边框的高度 */
    line-height: 24px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    padding-left: 25px;
    border-radius: 5px;
    font-size: 12px;
    color: #666;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px;
    /* margin: 5px; */
}

.user {
    width: 44px;
    height: 44px;
    text-align: center;
    color: #2eaae0;
    /* background-color: purple; */
}

.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px;
    margin: 4px auto -2px;
}


/* 搜索模块结束 */


/* 焦点图模块 */

.forcus {
    padding-top: 44px;
}

.forcus img {
    width: 100%;
}


/* 焦点图模块 */


/* 顶部导航栏 */


/* ul 有默认的margin和padding一定要先去除 ！*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.local-nav li [class^="icon-nav-icon"] {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px;
}


/* 顶部导航栏结束 */


/* 中部导航栏开始 */

.nav {
    border-radius: 8px;
    margin: 3px 4px;
    overflow: hidden;
}

.nav-common {
    display: flex;
    /* flex-direction: row; */
    height: 88px;
    background-color: aquamarine;
    margin: 3px 0;
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #FA5B55, #FA974D);
}

.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4C91ED, #53BBED);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34C2A8, #6CD55A);
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-items:nth-child(1) a {
    border-bottom: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 131px;
}


/* 中部导航栏结束 */


/* 侧导航栏 */

.subnav-entry {
    display: flex;
    border-radius: 8px;
    margin: 0 4px;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 5px 0;
}

.subnav-entry li {
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.subnav-entry-icon {
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}


/* 侧导航栏结束 */


/* sales-box */

.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    position: absolute;
    top: 5px;
    left: 8px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #FF506C, #FF6BC6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}

.more::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}